body,#root {
  background: url(../assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

#root {
  min-height: 100vh;
}

body {
  padding-bottom: 50px;
}

.wrapper {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none!important;
  color: #fff!important;
}

img {
  width: 200px;
  height: 200px;
}

.navbar-text.hidden {
  display: none;
}

li {
  list-style: none;
}

.dropdown-menu {
  background-color: #000!important;
}

.dropdown-menu a {
  display: block;
  text-align: center;
}

/* button styling */
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:disabled,button.remove-button {
  background-color: #ff0000;
  color: #fff;
}

button:disabled::before,button.remove-button::before {
  background: linear-gradient(
    45deg,
     #ff0000,
    #ff0000
  );
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
     #ff0000,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 6s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* header styling  */

.headerComponent {
  margin-bottom: 20px;
}

.navbar-brand a {
  padding: 10px;
  background: blue;
  border-radius: 10px;
  font-style: italic;
}

/* main content styling  */

/* Filter options  */

.filter-options {
  height: fit-content;
  padding: 20px;
  flex-basis: 20%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

.filter-options span,.filter-options button {
  margin-top: 20px;
  display: block;
}

.filter-options .title {
  font-size: 20px;
}

.filter-options .star-ratings {
  display: flex;
}

.filter-options .star-ratings span {
  margin-top: 0;
}


/* product list  */

.home-page .wrapper {
  display: flex;
}

.product-list {
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.product-list li {
  padding: 20px 0;
  background-color: #000;
  border: 4px solid #7fffd4;
  border-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  color: #fff;
  flex-basis: 30%;
  text-align: center;
}

.product-list li:hover {
  border: 4px solid #fff;
  transform: rotate(5deg);
}

.product-title {
  font-size: 20px;
  color: #7fffd4
}

.home-page .quantity-dropdown {
  display: none;
}

.form-control.qty-input {
  margin: auto;
}

/* my cart section  */

.cartItem {
  padding: 20px;
  display: flex;
  align-items: center;
}

.cartItem img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
}

.cartItem span {
  margin: 0 20px;
  color: #fff;
}

.cartItem svg {
  color: #8b0000;
  cursor: pointer;
}

.cartItem svg:hover {
  color: #ff0000;
}

/* cart-page styling */

.cart-products h1 {
  margin: 20px 0;
  color: #fff;
}

.cart-products .product-list {
  flex-direction: column;
  flex-wrap: nowrap;
}

.cart-products .product-list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-products .product-list img {
  width: 50px;
  height: 50px;
}

.cart-products .product-list button {
  padding: 0;
  background-color: transparent;
  color: #ff0000;
}

.cart-details .product-list button:hover {
  font-size: 18px;
}

.cart-products .product-list button::before {
  background: none;

}

.cart-products .product-list li:hover {
  transform: rotate(0deg);
}

.cart-details {
  display: flex;
  justify-content: space-between;
}

.cart-details .amount-section {
  flex-basis: 30%;
  color: #fff;
  text-align: center;
}

.cart-details .amount-section button {
  display: block;
  margin: auto;
  background-color: #008000;
}

.cart-details .amount-section button::before {
  background: none;
}

/* media queries  */

@media only screen and (max-width: 1200px) {
  
  .navbar-brand {
    margin: 20px 0;
  }

  .navbar-text {
    margin-bottom: 20px;
  }

  .headerComponent .container {
    flex-direction: column;
  }
  
  .cart-details {
    flex-direction: column;
    align-items: center;
  }

  .cart-details .amount-section,.cart-products .product-list {
    width: 100%;
  }

  .product-list li {    
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
}

@media only screen and (max-width: 991px) {
  .dropdown-menu {
    left: -100%!important;
  }
}

@media only screen and (max-width: 767px) {

  .home-page .wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .product-list {
    padding-left: 0;
  }

  .product-list li {
    flex-basis: 100%;
  }

  .cart-products .product-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cart-products .product-list li {
    width: 40%;
    flex-direction: column;
  }

  .navbar-text input {
    width: auto;
  }
}

@media only screen and (max-width: 576px) {
  .cart-products .product-list li {
    flex-basis: 100%;
  }
}